<!--FACEBOOK    INSTAGRAM   TWITTER     YOUTUBE     EMAIL   WEBSITE-->
<div class="container mt-3">
    <div class="row m-3 p-3">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="../../../assets/images/logos/mail-logo.png" class="card-img-top" alt="e-mail">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Lakshmi Janardana Idol & Temple</h5>
                  <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p> -->
                  <a href="mailto:contact.ssljssdtmtt@gmail.com" class="btn btn-secondary" title="contact.ssljssdtmtt@gmail.com">Click Here</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="../../../assets/images/logos/google-logo.png" class="card-img-top" alt="website">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Lakshmi Janardana Idol & Temple</h5>
                  <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p> -->
                  <a href="/home" class="btn btn-secondary" title="Website">Click Here</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="../../../assets/images/logos/youtube-logo.png" class="card-img-top" alt="youtube">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Dakshina Kali Mata Idol & Temple</h5>
                  <p class="card-text">We accept donations in offline through A/C Payee Cheques, Demad Drafts and Money Order.</p> -->
                  <a href="#" class="btn btn-secondary" title="Youtube - Opens in an external tab">Click Here</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row m-3 p-3">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="../../../assets/images/logos/facebook-logo.png" class="card-img-top" alt="facebook">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Lakshmi Janardana Idol & Temple</h5>
                  <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p> -->
                  <a href="https://facebook.com" class="btn btn-secondary" title="Facebook - Opens in an external tab">Click Here</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="../../../assets/images/logos/twitter-logo.png" class="card-img-top" alt="twitter" style="height: 225px; width: 322px;">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Lakshmi Janardana Idol & Temple</h5>
                  <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p> -->
                  <a href="https://twitter.com" class="btn btn-secondary" title="Twitter - Opens in an external tab">Click Here</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="../../../assets/images/logos/instagram-logo.png" class="card-img-top" alt="instagram">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Dakshina Kali Mata Idol & Temple</h5>
                  <p class="card-text">We accept donations in offline through A/C Payee Cheques, Demad Drafts and Money Order.</p> -->
                  <a href="https://instagram.com/" class="btn btn-secondary" title="Instagram - Opens in an external tab">Click Here</a>
                </div>
              </div>
        </div>
    </div>
</div>