<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center text-light">
                <h6>All Rights Reserved &copy; 2023</h6>
                <h6>
                    The content available on this website are provided by the experts in the respective fields. In case of any conflict, please contact us through our official 
                    <!-- <h6 class="text-light fw-bold" title="webmaster.ssljssdkmtt@gmail.com" href="mailto:webmaster.ssljssdkmtt@gmail.com">
                        e-mail
                    </h6> -->
                    <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" title="webmaster.ssljssdkmtt@gmail.com" href="mailto:webmaster.ssljssdkmtt@gmail.com">
                        e-mail
                    </a>
                </h6>
                <h6>
                    This website is designed, developed and maintained by the IT team of the 
                    <!-- <span class="text-light fw-bold" routerLink="/home">
                        Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust
                    </span> -->
                    <a routerLink="/home" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust
                    </a>
                </h6>
            </div>
        </div>
        <div class="text-light">
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-4 text-light">
                <h4 routerLink="/home">Sri Sri Lakshmi Janardana & <br/>Sri Sri Dakshina Kali Mata Temple</h4>
            </div>
            <div class="col-md-4">
                <ul class="list-style-type:square">
                    <li class="text-left text-light fw-bold" routerLink="/about-us">About Us</li>
                    <li class="text-left text-light fw-bold" routerLink="/idols-and-temples">Idols and Temples</li>
                    <ul class="list-style-type:circle">
                        <li class="text-left text-light fw-bold" routerLink="/idols-and-temples/lakshmi-janardana">Sri Sri Lakshmi Janardana Idol & Temple</li>
                        <li class="text-left text-light fw-bold" routerLink="/idols-and-temples/dakshina-kali-mata">Sri Sri Dakshina Kali Mata Idol & Temple</li>
                    </ul>
                    <li class="text-left text-light fw-bold" routerLink="/nearby-temples">Nearby Temples</li>
                    <li class="text-left text-light fw-bold" routerLink="/donate-to-us">Donate To Us</li>
                    <li class="text-left text-light fw-bold" routerLink="/media">Media</li>
                    <ul class="list-style-type:circle">
                        <li class="text-left text-light fw-bold" routerLink="/media/photos">Photos</li>
                        <li class="text-left text-light fw-bold" routerLink="/media/videos">Videos</li>
                        <li class="text-left text-light fw-bold" routerLink="/media/audios">Audios</li>
                        <li class="text-left text-light fw-bold" routerLink="/media/live">Live</li>
                    </ul>                 
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-style-type:square">
                    <li class="text-left text-light fw-bold" routerLink="/contact-us">Contact Us</li>
                    <span class="text-left text-light">
                        Sri Sri Lakshmi Janardana & <br/>
                        Sri Sri Dakshina Kali Mata Temple Trust, <br/>
                        Village: Gangadaspur, <br/>
                        Post Office & Police Station: Chandrakona, <br/>
                        District: Paschim Medinipur, <br/>
                        West Bengal, INDIA <br/>
                        PIN Code: 721232
                    </span>
                    <br/>
                    
                    <span class="text-left text-light fw-bold">
                        Locate us on 
                        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" title="Google Maps" href="https://maps.google.com" target="_blank">
                            Google Maps
                        </a>.
                    </span>
                    <li class="text-left text-light fw-bold" routerLink="/contact-us">Contact Us</li>
                    <li class="text-left text-light fw-bold" routerLink="/contact-us">Contact Us</li>               
                </ul>
            </div>
        </div>
    </div>
</footer>