<div class="container mt-3 p-3">
    <div class="row">
        <div class="col-6 ">
            <div class="alert alert-warning">
                <h4 class="text text-center text-uppercase">
                    about us 
                </h4>
                <hr/>
                <span class="text">
                    Welcome to the official website of <strong>Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata temple Trust</strong>. It is a non-decript pair of temples that are maintained by the family of the Kar Sarkars. It is located in the village of Gangadaspur, near the town of Kshirpai, under the Chandrakona Police Station in the district of Paschim Medinipur of the district of West Bengal in Republic of India. However, its heritage status is undisputed as the temples are more than hundred years old and have recently been renovated by the family of Kar Sarkars who have been maintaining these temples since inception.
                </span>
                <hr/>
                <div class="text text-center">
                    <button routerLink="../about-us" class="btn btn-warning"><strong>Click To Know More</strong></button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="alert alert-primary">
                <h4 class="text text-center text-uppercase">
                    how to reach
                </h4>
                <hr/>
                <table class="table table-striped">
                    <tr>
                        <th>Nearest Bus Stops</th>
                        <td colspan="2">Kshirpai Chowkan, Kshirpai Halderdighi</td>
                    </tr>
                    <tr>
                        <th>Nearest Railway Station</th>
                        <td>Goghat, Kamarpukur <strong>(Eastern Railways)</strong></td>
                        <td>Panskura, Medinipur, Chandrakona Road <strong>(South Eastern Railways)</strong></td>
                    </tr>
                    <tr>
                        <th>Nearest Airport</th>
                        <td colspan="2">Netaji Subhas Chandra Bose International Airport, Kolkata</td>
                    </tr>
                    <tr>
                        <th>Nearest Waterway</th>
                        <td colspan="2">The rivers, canals and water streams found in the vicinity are used for drainage and irrigation purposes.</td>
                    </tr>
                </table>
                <hr/>
                <div class="text text-center">
                    <button class="btn btn-primary m-3" (click)="locateUs()"><strong>Click To Locate Us</strong></button>
                    <button class="btn btn-primary m-3" (click)="showDirections()"><strong>Click for Directions</strong></button>
                    <!-- <iframe width="600" height="277" src="https://www.youtube.com/embed/G-_p_90sdVw" title="Ranabeshe Heshe Heshe Oi Bama Eseche | Shyama Sangeet | Sung by Swami Sarvagananda Ji" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="alert alert-secondary">
                <h4 class="text text-center text-uppercase">
                    calendar
                </h4>
                <hr/>
                <iframe src="https://calendar.google.com/calendar/embed?src=en.indian%23holiday%40group.v.calendar.google.com&ctz=Asia%2FKolkata" style="border: 0" width="600" height="480" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        <div class="col-6">
            <div class="alert alert-dark">
                <h4 class="text text-center text-uppercase">
                    festivals &amp; events
                </h4>
                <hr/>
                <button type="button" class="btn btn-info m-3">Poila Baisakh</button>
                <button type="button" class="btn btn-primary m-3">Akshay Tritiya</button>
                <button type="button" class="btn btn-success m-3">Buddha Jayanti</button>
                <button type="button" class="btn btn-warning m-3">Warning</button>
                <button type="button" class="btn btn-danger m-3">Danger</button> 
                <button type="button" class="btn btn-info m-3">Poila Baisakh</button>
                <button type="button" class="btn btn-primary m-3">Akshay Tritiya</button>
                <button type="button" class="btn btn-success m-3">Buddha Jayanti</button>
                <button type="button" class="btn btn-warning m-3">Warning</button>
                <button type="button" class="btn btn-danger m-3">Danger</button> 
                <button type="button" class="btn btn-info m-3">Poila Baisakh</button>
                <button type="button" class="btn btn-primary m-3">Akshay Tritiya</button>
                <button type="button" class="btn btn-success m-3">Buddha Jayanti</button>
                <button type="button" class="btn btn-warning m-3">Warning</button>
                <button type="button" class="btn btn-danger m-3">Danger</button> 
                <button type="button" class="btn btn-info m-3">Poila Baisakh</button>
                <button type="button" class="btn btn-primary m-3">Akshay Tritiya</button>
                <button type="button" class="btn btn-success m-3">Buddha Jayanti</button>
                <button type="button" class="btn btn-warning m-3">Warning</button>
                <button type="button" class="btn btn-danger m-3">Danger</button> 
                <button type="button" class="btn btn-info m-3">Poila Baisakh</button>
                <button type="button" class="btn btn-primary m-3">Akshay Tritiya</button>
                <button type="button" class="btn btn-success m-3">Buddha Jayanti</button>
                <button type="button" class="btn btn-warning m-3">Warning</button>
                <button type="button" class="btn btn-danger m-3">Danger</button>                
            </div>
        </div>
    </div>
</div>